body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background-color: #fff6e9;
}

ol {
  margin-top: 10%;
  margin-bottom: 20%;
}

ol li {
  font-size: 20px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.points-list {
  list-style-type: none;
}

.points-item {
  padding: 1.7px;
}

.column {
  flex: 1; /* Adjusted for equal width */
  text-align: center; /* Center text horizontally */
}

.column-title-1 {
  padding-left: 450px;
  text-align: center;
}

.button {
  border: 2px solid black;
  border-radius: 8px;
  padding: 2px 2px; /* Minimal padding: vertical | horizontal */
  display: inline-block; /* To allow padding and border to be effective */
  text-align: center; /* Center the text inside the button */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
  text-decoration: none; /* Removes underline from links if applied to an <a> tag */
  color: black; /* Text color */
  background-color: transparent; /* Transparent background, can be changed */
}
